h2{
  margin-top: 2%;
  text-align: center;
  font-size: 30px;
}
.block{
  display: flex;
  color: white;
  font-weight: bold;
  text-align: center;
}
.block-1{
  margin-bottom: 5%;
  margin-left: 3%;
  margin-right: 3%;
  background-color: #00659D;
  height: 240px;
  width: 100%;
  white-space: wrap;
  border-radius: 15px;
}
.block-2{

  margin-left: 3%;
  margin-right: 3%;
  height: 240px;
  width: 100%;
  background-color:#8DBA38;
  border-radius: 15px;
}
.block-3{
  margin-left: 3%;
  margin-right: 3%;
  height: 240px;
  width: 100%;
  background-color:#EA8215;
  border-radius: 15px;
}
.block-4{
  margin-left: 3%;
  margin-right: 3%;
  height: 240px;
  width: 100%;
  background-color: #F1B634;
  border-radius: 15px;
}
img{
  height: 100px;
  width: 100px;
  border-radius: 15px;
}
@media screen and (max-width:830px) {
  .block{
    display: block;
    height: 100%;
    max-width: 80%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .block-1{
    margin-bottom: 5%;
  }
  .block-2{
    margin-bottom: 5%;
  }
  .block-3{
    margin-bottom: 5%;
  }
  .block-4{
    margin-bottom: 5%;
  }
}
