<mat-toolbar style="background-color: #00446a; color: white;" >
  <a [routerLink]="'/'" mat-icon-button class="example-icon favorite-icon"><img src="../../../assets/Melitón_Carvajal.png" width="30px" height="30px" alt="">   Melitón carvajal</a>
  <span></span>
  <span class="example-spacer"></span>
  <a [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon ">Iniciar sesión</a>
  <a [routerLink]="'/signup'" mat-icon-button class="example-icon favorite-icon mr20 ml70" aria-label="Example icon-button with heart icon">Registrarme</a>
</mat-toolbar>
